
body {
  background-color: #C98474;
  height: vh;
  width: vw;
}

hr {
  margin: 3px;
}

.modal {
  max-height: 550px;
}

.game-container {
  background-image: url("../img/Cheetah.jpg");
  background-size: cover;
  width: 380px;
  height: 550px;
}

.btn {
  font-size: 0.8rem
}

.btn-4 {
  width: 22%;
}

.btn-2 {
  width: 45%;
}

.btn-3 {
  width: 30%;
}

.total {
  font-size: 2rem;
}

settings-modal {
  text-align: left;
}

.ad-bottom {
  background-color: #F5EDDC;
  width: 300px;
  height: 50px;
}