
body {
  background-image: linear-gradient(to bottom right, #808080, #D0D0D0);
  height: vh;
  width: vw;
}

hr {
  margin: 3px;
}

.game-container {
  background-image: url("../img/Cheetah.jpg");
  background-size: cover;
  width: 98vw;
  height: 100vh;
  max-width: 380px;
  max-height: 550px;
}

.btn {
  font-size: 0.8rem;
}

.btn-4 {
  width: 22%;
}

.btn-2 {
  width: 45%;
}

.btn-3 {
  width: 30%;
}

.total {
  font-size: 2rem;
}

.ad-bottom {
  background-color: #F5EDDC;
  width: 300px;
  height: 50px;
}