
body {
  background-color: #C98474;
  height: vh;
  width: vw;
}

hr {
  margin: 3px;
}

.game-container {
  background-image: url("Cheetah.jpg");
  background-size: cover;
  width: 400px;
  height: 550px;
}

.btn {
  font-size: 0.8rem
}

.btn-4 {
  width: 22%;
}

.btn-2 {
  width: 44%;
}

.ad-bottom {
  background-color: #F5EDDC;
}